= simple_form_for @job do |f|
  = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category"}
  = f.input :title, label: "Job Title"
  = f.input :description, :lablel => "Job Description"
  = f.input :company, :lablel => "Your Company"
  = f.input :url, :lablel => "Link to Job"
  %br
  = f.button :submit